.product {
  padding: 40px 0;
}

.product h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.product p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.product .list-unstyled li {
  font-size: 1rem;
  margin-bottom: 10px;
}

.product .btn-success {
  background-color: #28a745;
  border: none;
}

.icon-circle {
  width: 60px;
  height: 60px;
  background-color: #00c853;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: white;
}

.icon-text {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.icon-circle i {
  font-size: 1.2rem;
}

.icon-text h4 {
  color: #00c853;
  margin-left: 10px;
  font-size: 1.2rem;
}

.icon-text p {
  margin-left: 10px;
  margin-bottom: 0;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  
}

.btn-success {
  background-color: #00c853;
  border: none;
  margin-right: 10px; 
}

.btn-outline-success {
  color: #00c853;
  border: 2px solid #00c853;
  margin-left: 10px; 
}

span{
  color: #00c853;
}

@media (max-width: 768px) {
  .product .row {
      flex-direction: column-reverse;
  }
  
  .col-md-6.text-center {
      text-align: center;
  }

  .icon-text {
      justify-content: center;
      text-align: center;
  }
}