<section id="content" class="product py-5">
  <div class="container">
      <div class="row">
          <div class="col-md-6 text-center">
              <img src="assets/section3.png" alt="Product" class="img-fluid">
          </div>
          <div class="col-md-6  d-flex flex-column justify-content-center">
              <h2>Lorem ipsum dolor sit <span>amet?</span></h2>
              <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <div class="icon-text">
                  <div class="icon-circle">
                    <i class="bi bi-telephone-inbound-fill"></i>
                  </div>
                  <div>
                      <h4>Feature A</h4>
                      <p>Description for Feature A.</p>
                  </div>
              </div>
              <div class="icon-text">
                  <div class="icon-circle">
                    <i class="bi bi-person-check-fill"></i>
                  </div>
                  <div>
                      <h4>Feature B</h4>
                      <p>Description for Feature B.</p>
                  </div>
              </div>
              <div class="icon-text">
                  <div class="icon-circle">
                    <i class="bi bi-chat-right-text-fill"></i>
                  </div>
                  <div>
                      <h4>Feature C</h4>
                      <p>Description for Feature C.</p>
                  </div>
              </div>
              <div class="btn-container">
                <button class="btn btn-success">Learn More</button>
                <button class="btn btn-outline-success">Get Started</button>
            </div>
          </div>
      </div>
  </div>
</section>