.footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.footer h5 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    justify-content: center;
    padding: 0;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons li a {
    color: #fff;
    font-size: 1.5rem;
}

.social-icons li a:hover {
    color: #ccc;
}
