<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 mb-4">
                <img src="assets/xcapital-logo.png" alt="XCapital Logo" class="img-fluid mb-3">
                <p>Dirección: 123 Calle Principal, Ciudad<br>
                Teléfono: +123 456 789<br>
                Email: info@xcapital.com</p>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <h5>Enlaces Rápidos</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <h5>Síguenos en Redes Sociales</h5>
                <ul class="list-unstyled social-icons d-flex">
                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                    <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p>&copy; 2024 XCapital. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>


  