<section class="features py-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <img src="path/to/feature1.png" alt="Feature 1" class="img-fluid mb-3">
          <h3>Feature 1</h3>
          <p>Description for feature 1.</p>
        </div>
        <div class="col-md-4">
          <img src="path/to/feature2.png" alt="Feature 2" class="img-fluid mb-3">
          <h3>Feature 2</h3>
          <p>Description for feature 2.</p>
        </div>
        <div class="col-md-4">
          <img src="path/to/feature3.png" alt="Feature 3" class="img-fluid mb-3">
          <h3>Feature 3</h3>
          <p>Description for feature 3.</p>
        </div>
      </div>
    </div>
  </section>
  