<section id="home" class="hero">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 position-relative">
                <div class="diamonds">
                    <span class="diamond"></span>
                    <span class="diamond"></span>
                    <span class="diamond"></span>
                </div>
                <h1>Lorem ipsum dolor sit <span>amet</span></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin sit amet dolor ac lobortis. Phasellus lobortis vitae elit non dictum. Vestibulum feugiat ex vitae pulvinar ornare.</p>
                <a href="#" class="btn btn-outline-secondary">Lorem ipsum dolor sit amet</a>
                <a href="#" class="btn btn-success">Get started</a>
                <div class="social-icons">
                    <a href="#"><i class="bi bi-facebook"></i> @x-capital</a>
                    <a href="#"><i class="bi bi-linkedin"></i> @x-capital</a>
                    <a href="#"><i class="bi bi-instagram"></i> @x-capital</a>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <div class="hero-image">
                    <img src="assets/cel1bg.png" alt="Phone Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="circle"></div> 
</section>





  